html, body, div  {margin: 0; padding: 0;} 


body{
	font-family:Verdana,Tahoma,Arial,sans-serif;
}

img#logojpg {
position: absolute;
top:  0em;
left: 0em;
}

div#header
	{	
		background: #ADC3DA;
		height: 6em;	
		width: 100%;
		/*background-color:#0A909C; 
		text-align:center;  */
		text-align:left;
		text-indent:130px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		text-decoration:none; 
		color:#525252; 
		/*font-family:Verdana,Tahoma,Arial,sans-serif; */
		font-variant:	small-caps; 	
	}


#logoutButton
{

	right: 1em;
	bottom: 1em;
	
}

div#navi {
	height: 16px;
	position: relative;
}

.clear {
    clear: both;
}

div#content 
{
	border: none;
	
	top: 15em;
	width: 100%;
	height: auto;
}
	
div#acInfo {
	right: 1em;
	top: 0em;
	position: absolute;
}

div#acInfo p {
	text-align: right;
}
