html, body, div  {margin: 0; padding: 0;} 


body{
	font-family:Verdana,Tahoma,Arial,sans-serif;
	width: 1300px;
	margin: auto;
	background-color: #fefefe;
}

img#logojpg {
	position: absolute;
	top:  0em;
	left: 0em;
	display: inline;
}

div#header
	{	
		background: #ADC3DA;
		height: 5em;	
		width: 1300px;	
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		position: absolute; 	
	}
div#header h2
{
	text-align:left;
	text-indent: auto;
	text-decoration:none; 
	color:#525252; 
	#/*background-color:#0A909C; 
	#text-align:center;  */
	#/*font-family:Verdana,Tahoma,Arial,sans-serif; */
	#font-variant:	small-caps;
	margin-left: 5em;
	top: 0em;
	position: absolute;
	display: inline;
} 
#identv
{
	right:1em;
	top: -1em;
	display: inline;
	position: absolute;
	font-size: 12px;
} 
#identv1
{
	right:1em;
	top: 0em;
	display: inline;
	position: absolute;
	font-size: 12px;
}
#identc
{
	right:1em;
	top:4em;
	display: inline;
	position: absolute;
	font-size: 12px;
}

#logoutButton
{
	right: 1em;
	bottom: 1em;	
}

div#navi {
	position: absolute;
	top: 5em;
}

.clear {
    clear: both;
}

div#content 
{
	border: none;
	margin-top: 1em;
	top: 8em;
	width: 1300px;
	height: auto
	z-index: 1;
	position: absolute;
}
	
div#acInfo {
	right: 1em;
	top: 0em;
	position: absolute;
}

div#acInfo p {
	text-align: right;
}
