
a {text-decoration:none; color:#000000;}

#menu ul {margin:0px; padding:0px; list-style-type:none;}
#menu li {float:left; width:90px; text-align:center;}
#menu li ul{display:none; padding-top:3px;}
#menu li:hover ul {display:block;}
#menu li ul li {background-color:#2F2D49; border-bottom:1px solid #FFFFFF;}
#menu li ul li a{color:#FFFFFF;}
#menu li ul li:hover {background-color:#232323;}
